In [2]:
path_bcc_metadata = "./packages_bcc_metadata_patient.csv"
path_bcc_reports = "./packages_bcc_reports_conclusions.csv"
path_ood_labels = "./packages_ood_annotations_disease_types.csv"
path_ood_metadata = "./packages_ood_metadata_patient.csv"

In [3]:
import pandas as pd

bcc_metadata = pd.read_csv(path_bcc_metadata)
bcc_reports = pd.read_csv(path_bcc_reports)
ood_labels = pd.read_csv(path_ood_labels)
ood_metadata = pd.read_csv(path_ood_metadata)

In [4]:
display(bcc_metadata.head())
display(bcc_reports.head())
display(ood_labels.head())
display(ood_metadata.head())

,filename,stainingname,block,specimennumber,specimenmethod,patientgender,patient_id,patient_age
0,7ba9d8957a1f3c8db398f4e255b944c2,HE 1-2-3,1,1,biopt,F,P160273,93
1,8afa892f134f3cd7829c801ed0a0b3b3,HE 1,1,1,biopt,F,P149453,25
2,e2b9e8ed0b5d39dba1465c618e2d61cb,HE 1,1,6,biopt,M,P614420,58
3,36f697cc97243849b5c8a800e08293e7,HE 1,1,1,biopt,F,P139173,57
4,c303ae68dbbf3c5591ea7d6b55bb2de2,HE 1,1,1,biopt,F,P378021,48

,filename,conclusion
0,883cac18753d326da21a59ba9e134872,I: huidbiopt schouder rechts: basaalcelcarcino...
1,4532155c1da23c85a95e8872af2c4e31,3 mm huidbiopt mediale ooghoek links: overwege...
2,ba5a8d229b163a83aa59e2cfcad4b472,III: huidbiopt mediale zijde linkerscapula: no...
3,138da0d764473bea861e3c14adc286da,Huidbiopt midden rug: overwegend nodulair basa...
4,8caf954a7f2633139a0259618d4757e4,"Huidbiopt neusrug links: basaalcelcarcinoom, m..."

                           filename              category  label
0  6eb0906f46ab47f58044848b288af166  Cutaneous metastases      0
1  23a58ca81800485d9a376fac473b89a0  Cutaneous metastases      0
2  fb45ce68c21348e7b2747289753f38f8  Cutaneous metastases      0
3  9ee9139a02254618a30e906566de54e4  Cutaneous metastases      0
4  913b3ba48342415f807bebd3ce6ed455  Cutaneous metastases      0

,filename,stainingname,block,specimennumber,specimenmethod,patientgender,patient_id,patient_age
0,1c85aeec0f384154af027d45d0532a25,HE 1-2-3,1.0,4,biopt,M,P297437,52
1,f798b80308b142bc9429fe36462cc284,HE 1,1.0,1,biopt,F,P504061,55
2,3898dcc3c1ff4752943447f8b4556c55,HE 2,1.0,4,NaN,F,P081556,36
3,698ab937c2eb4de8aaec2582f211c36c,HE 1-2-3,1.0,1,biopt,F,P642508,93
4,736cd943f3bd453097a4304296855991,HE 1-2-3,1.0,1,biopt,M,P423944,57

In [ ]:
from collections import Counter

c_bbc_metadata = Counter(bcc_metadata["stainingname"])
print("Staining names in BCC metadata:")
for name, count in c_bbc_metadata.items():
    print(f"{name}: {count}")

c_ood_metadata = Counter(ood_metadata["stainingname"])
print("\nStaining names in OOD metadata:")
for name, count in c_ood_metadata.items():
    print(f"{name}: {count}")

Staining names in BCC metadata:
HE 1-2-3: 793
HE  1: 4329
HE-Biopt  1: 17
VC-HE  1: 3
HE 1--2: 1
HE  2: 2
HE (ihc): 1
HE-DTO  1: 1

Staining names in OOD metadata:
HE 1-2-3: 432
HE  1: 484
HE  2: 16
HE 1--2: 159
HE na (m): 17
HE-Biopt  1: 33
Dsn  1: 27
Dsn  2: 24
Dsn  3: 9
HE  3: 2
HE-DTO  2: 2
HE ( ISH Her2Neu): 5
HE (ISH): 4
HE  5: 1
HE voor (m): 15
HE-DTO  3: 1
HE  4: 1
Dsn  4: 9
HE-DTO  1: 2
HE  9: 1
HE (MMR): 2
HE-DTO  4: 1

In [7]:
c_ood_diseases = Counter(ood_labels["category"])
print("\nDisease types in OOD labels:")
for disease, count in c_ood_diseases.items():
    print(f"{disease}: {count} ({count / len(ood_labels) * 100:.2f}%)")

Disease types in OOD labels:
Cutaneous metastases: 77 (6.07%)
Merkel cell carcinoma: 30 (2.37%)
Basal cell carcinoma: 170 (13.41%)
Benign: 71 (5.60%)
Benign sebaceous gland tumor: 57 (4.50%)
Cylindroma: 11 (0.87%)
Skin adnexal carcinoma, other: 8 (0.63%)
Lymphoma: 167 (13.17%)
Melanoma: 107 (8.44%)
Melanoma in situ: 38 (3.00%)
Microcystic adnexal carcinoma: 9 (0.71%)
No abnormalities: 14 (1.10%)
Squamous cell carcinoma: 497 (39.20%)
Sebaceous gland carcinoma: 12 (0.95%)